.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.appTitle{
    font-weight: bold;
    color: rgb(4, 4, 62);
    font-size: 5vw;
    text-align: center;
    padding-left: 3vw;
}

.appElementList{
    list-style: none;
}